body {
    text-align: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 12px 4px 8px 0 rgba(17, 15, 15, 0.2);
    display: inline-block;
    opacity: 1;
    margin: 1%;
    padding: 1%;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 400%;
    text-align: left;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }