body { 
    background: #ffffff;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Langar', cursive;
}

#time {
    width: 20%;
    height: 20%;
    font-size: 250%;
    margin-left: 1%;
    position: absolute;
}

h1 { 
    text-align: center;
    font-size: 400%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#links { 
    text-align: center;
}

a {
    
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: royalblue;

    margin: 3%;

    text-shadow: 1px 1px;

    font-size: 200%;
}
